.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.woff-shout {
  color: #F5DB2E;
  font-weight: bold !important;
  font-family: "Permanent-Marker" !important;
}

.woff2-shout {
  color: #F26225;
  font-weight: bold !important;
  font-family: "Permanent-Marker" !important;
}

